<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comic - {{CrrNum}}</title>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" />

    {{!-- Stylesheet Css --}}
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    {{!-- Icons --}}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    {{!-- Container Will Fill Page Leaving Some Space in Horzontal direction --}}
    {{!-- Row will make coloumns in row wise and maximum size of row is 12 column, if excided it will get to the next line --}}
    {{!-- my-5 is for margin in y direction --}}
    {{!-- py-5 is for padding in y direction --}}
    {{!-- justify content center will make coloumns of row in center --}}
    {{!-- text-center will make content of column in center --}}
    {{!-- above all are bootstrap classes --}}
    {{!-- row can come under col as well as container/ container-fluid --}}
    {{!-- col will always come under row --}}
    {{!-- container cannot be nested --}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center mt-5">
                <h3>
                    {{CrrTitle}} - {{CrrNum}}
                </h3>
                <p class="font-weight-bold">
                    {{CrrDate}}
                </p>
            </div>
        </div>
    <hr>
        <div class="row justify-content-center mb-5">
            <div class="col-4 text-center">
                <div class="row">
                    <div class="col">
                        <a class="smooth-transition" href={{firstVal}}>
                            <i class='bx bx-first-page'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{prevVal}}>
                            <i class='bx bx-skip-previous'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{nextVal}}>
                            <i class='bx bx-skip-next'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{lastVal}}>
                            <i class='bx bx-last-page'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 text-center image-container p-3 smooth-transition">
                <img src={{Image}} alt={{alt}} loading="lazy" class="min-height-100"/>
            </div>
        </div>

        <div class="row justify-content-center my-5 fixed-bottom">
            <div class="col-6 text-center Custom-Nav Glass-Effect smooth-transition">
                <div class="row">
                    <div class="col">
                        <a class="smooth-transition" href={{firstVal}}>
                            <i class='bx bx-first-page'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{prevVal}}>
                            <i class='bx bx-skip-previous'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{nextVal}}>
                            <i class='bx bx-skip-next'></i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="smooth-transition" href={{lastVal}}>
                            <i class='bx bx-last-page'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-6 text-center">
                <input type="number" id="ComicId" value="{{CrrNum}}" min="1" max={{Max_value}} />
                <input type="button" value="Go" onclick="window.location='\\' + $('#ComicId').val()" />
            </div>
        </div>

    </div>


    <footer class="text-center font-weight-bolder mt-5 py-3">
        <hr>
        Made By Maahi Patel
    </footer>

    {{!-- JQuery --}}
    <script src="js/jquery-3.6.0.min.js"></script>

    {{!-- Site Script --}}
    <script src="js/site.js"></script>
</body>

</html>